In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('Hotel_Review.csv')
df.head()

,Hotel_Address,Additional_Number_of_Scoring,Review_Date,Average_Score,Hotel_Name,Reviewer_Nationality,Negative_Review,Review_Total_Negative_Word_Counts,Total_Number_of_Reviews,Positive_Review,Review_Total_Positive_Word_Counts,Total_Number_of_Reviews_Reviewer_Has_Given,Reviewer_Score,Tags,days_since_review,lat,lng
0,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,8/3/2017,7.7,Hotel Arena,Russia,I am so angry that i made this post available...,397,1403,Only the park outside of the hotel was beauti...,11,7,2.9,"[' Leisure trip ', ' Couple ', ' Duplex Double...",0 days,52.360576,4.915968
1,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,8/3/2017,7.7,Hotel Arena,Ireland,No Negative,0,1403,No real complaints the hotel was great great ...,105,7,7.5,"[' Leisure trip ', ' Couple ', ' Duplex Double...",0 days,52.360576,4.915968
2,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,7/31/2017,7.7,Hotel Arena,Australia,Rooms are nice but for elderly a bit difficul...,42,1403,Location was good and staff were ok It is cut...,21,9,7.1,"[' Leisure trip ', ' Family with young childre...",3 days,52.360576,4.915968
3,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,7/31/2017,7.7,Hotel Arena,United Kingdom,My room was dirty and I was afraid to walk ba...,210,1403,Great location in nice surroundings the bar a...,26,1,3.8,"[' Leisure trip ', ' Solo traveler ', ' Duplex...",3 days,52.360576,4.915968
4,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,7/24/2017,7.7,Hotel Arena,New Zealand,You When I booked with your company on line y...,140,1403,Amazing location and building Romantic setting,8,3,6.7,"[' Leisure trip ', ' Couple ', ' Suite ', ' St...",10 days,52.360576,4.915968

### Drop redundant columns

In [3]:
df = df.drop(['Additional_Number_of_Scoring', 'Review_Date', 'Reviewer_Nationality', 'Negative_Review', 'Positive_Review',
         'Review_Total_Negative_Word_Counts', 'Review_Total_Positive_Word_Counts',
        'Total_Number_of_Reviews_Reviewer_Has_Given', 'Tags', 'days_since_review', 'Reviewer_Score', 'lat', 'lng' ], axis = 1)

# Data Preprocessing

In [4]:
#Removing duplicates from the dataset
print(sum(df.duplicated()))
df = df.drop_duplicates()
print(f'After removing Duplicates:{df.shape}')

514244
After removing Duplicates:(1494, 4)

# Recommender system based on weighted average

**Formula for weighted average is given below**

**Weighted_average = ((R * v) + (c * m))/(v + m)**

 **w = Average weigted rating**

 **R = Average rating for the hotels**

 **v = Number of votes for the hotels(used hotel reviews)**

 **c = The mean vote across the avreage score of the hotels**

 **m = mminimum votes required to be on the top list of hotels**

# Calculate all the components based on the above formula

In [11]:
v = df['Total_Number_of_Reviews']
R = df['Average_Score']
C = df['Average_Score'].mean()
m = df['Total_Number_of_Reviews'].quantile(0.3)

### Add Weighted score to dataframe

In [12]:
df['weighted_average_score'] = ((R*v)+ (C*m))/(v+m)

In [13]:
ranked_hotels = df.sort_values('weighted_average_score', ascending=False)

In [14]:
ranked_hotels.head()

,Hotel_Address,Average_Score,Hotel_Name,Total_Number_of_Reviews,weighted_average_score
14829,1 Waterview Drive Greenwich London SE10 0TW Un...,9.4,Intercontinental London The O2,4204,9.300666
147504,31 St Thomas Street Southwark London SE1 9QU U...,9.4,Shangri La Hotel at The Shard London,2200,9.226966
433203,Ronda Sant Pere 9 Eixample 08010 Barcelona Spain,9.4,Catalonia Square 4 Sup,1711,9.188714
414395,Plaza de Catalunya 19 Ciutat Vella 08002 Barce...,9.3,Olivia Plaza Hotel,2757,9.171926
85479,2 8 Great Suffolk Street Southwark London SE1 ...,9.3,Hilton London Bankside,2319,9.152034

# Recommend top hotels to user

In [15]:
def hotel_recommendations():
    """
    This function recommends top hotels to a user 
    based on a user's input.
    """
    # get input from user
    user_input = int(input('How many hotels do you want recommendations : '))
    print('')
    print(f'The top {user_input} hotels in Europe are: ')
    print('*'*31)
    for i in range(user_input):
        print(ranked_hotels.loc[ranked_hotels.index[i], 'Hotel_Name'])

In [16]:
# execute function
hotel_recommendations()

How many hotels do you want recommendations : 30

The top 30 hotels in Europe are:
*******************************
Intercontinental London The O2
Shangri La Hotel at The Shard London
Catalonia Square 4 Sup
Olivia Plaza Hotel
Hilton London Bankside
Best Western Premier Kaiserhof Wien
Excelsior Hotel Gallia Luxury Collection Hotel
Hotel Casa Camper
Hotel Palace GL
Room Mate Giulia
Olivia Balmes Hotel
Hotel Berna
Amba Hotel Charing Cross
Catalonia Magdalenes
Ambassade Hotel
The Nadler Victoria
The Savoy
Rosewood London
Hotel The Serras
Apex Temple Court Hotel
H10 Cubik 4 Sup
The Guesthouse Vienna
The Toren
H tel D Aubusson
The Langham London
Catalonia Passeig de Gr cia 4 Sup
Hotel K nig von Ungarn
Catalonia Catedral
Hotel Sans Souci Wien
Hotel Cafe Royal